<h1>Screen Two</h1>


<mat-card>
  <mat-tab-group animationDuration="0">
    <mat-tab>
      <ng-template mat-tab-label>
        <span>{{ "SetpointsRM" }}</span>
      </ng-template>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ "Data" }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <!-- content start -->
          <!-- content end -->
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ "Setpoints" }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-tab-group animationDuration="0">
          <mat-tab>
            <ng-template [mat-tab-label]>
              {{"PassSchedule"}}
            </ng-template>


          <!-- content start -->
            <ng-container *ngFor="let item of items$ | async">
              <mat-form-field>
                <input matInput />
              </mat-form-field>
            </ng-container>
          <!-- content end -->


          </mat-tab>
        </mat-tab-group>
      </mat-expansion-panel>

    </mat-tab>
  </mat-tab-group>
</mat-card>
